{
  "extends": "@trevorblades/eslint-config/react",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "TITLE": true,
    "API_URL": true
  }
}