<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta property="og:description" content="A collection of charts and data visualizations about games of S.K.A.T.E. played in the contest series, Battle at the Berrics.">
    <meta property="og:image" content="http://batbstats.trevorblades.com${require('./assets/image.png')}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- jss-insertion-point -->
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
